TELEGRAM_TOKEN=
USER_ID=
OPENROUTER_API_KEY_1=
OPENROUTER_MODEL_1=openai/gpt-oss-120b:free
OPENROUTER_API_KEY_2=
OPENROUTER_MODEL_2=meta-llama/llama-3.3-70b-instruct:free
OPENROUTER_API_KEY_3=
OPENROUTER_MODEL_3=google/gemma-3-27b-it:free
LOG_LEVEL=INFO
STATE_FILE=data/state.json
ENABLE_GUI_AUTOMATION=false
